<div class="col-md-12 d-flex align-items-center" id="bookShip">
  <div class="wow fadeInUp" data-wow-delay="0.2s">
    <h1 class="text-dark mb-4 d-flex justify-content-center">Đặt thức ăn online</h1>
    <form action="submitBookShip" class="px-3" method="post" id="formShip">
      <div class="row g-4">
        {{#if menu}}
        {{#each menu}}
        <div class="col-lg-6">
          <div class="d-flex align-items-center">
            <img class="flex-shrink-0 img-fluid rounded" src="{{this.image}}" alt="" style="width: 80px;">
            <div class="w-100 d-flex flex-column text-start ps-4">
              <h5 class="d-flex justify-content-between border-bottom pb-2">
                <span>
                  {{this.name}}
                </span>
                <span class="number text-primary">{{this.price}}</span>
              </h5>
              <small class="fst-italic">{{this.description}}</small>
              <div class="d-flex justify-content-between">

                {{!-- <div class="">
                  <input type="checkbox" name="order[ds][]" value="{{this.slug}}" id={{this.slug}} class="checkboxInput"
                    onchange="checkInput('{{this.slug}}',{{this.price}})" />
                </div> --}}
                <div class="form-check form-switch">
                  <input class="form-check-input checkboxInput" type="checkbox" name="order[ds][]" value="{{this.slug}}"
                    id={{this.slug}} onchange="checkInput('{{this.slug}}',{{this.price}})">
                </div>

                <div class="">
                  <span class="form-sub-label-container" style="vertical-align:top">
                    <label class="form-sub-label" for="input_7_quantity_1001_0" style="min-height:13px"
                      aria-hidden="false">
                      Số lượng </label>
                    <span class="select_cont">
                      <select class="form-dropdown" name="order[{{this.slug}}][sl]"
                        onchange="selectQuanity('{{this.slug}}',value,{{this.price}})" id="quantity{{this.slug}}">
                        <option value="1"> 1 </option>
                        <option value="2"> 2 </option>
                        <option value="3"> 3 </option>
                        <option value="4"> 4 </option>
                        <option value="5"> 5 </option>
                        <option value="6"> 6 </option>
                        <option value="7"> 7 </option>
                        <option value="8"> 8 </option>
                        <option value="9"> 9 </option>
                        <option value="10"> 10 </option>
                      </select>
                    </span>
                  </span>
                </div>
                <div class="">
                  <span class="form-special-subtotal">
                    <span class="form-item-subtotal">
                      Đơn giá:
                    </span>
                    <span class="number" id="dg{{this.slug}}">0</span>
                  </span>

                </div>
              </div>
            </div>
          </div>
        </div>

        {{/each}}

        {{else}}
        <h3 class="mt-3 mb-3" style="text-align: center; color:rgb(194, 174, 230);">Không có món ăn nào!</h3>
        {{/if}}
      </div>
      <hr>
      <div class="d-flex justify-content-end pr-4 py-4" style="font-size: 30px; font-weight: bold;">
        <div class="">Tổng: </div>
        <div class="number" id="total">0</div>
      </div>
      <hr>
      <div class="row g-3">
        <div class="col-md-6">
          <div class="form-floating">
            <input type="text" class="form-control" id="name" name="name" placeholder="Họ và tên">
            <label for="name">Họ và tên</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating">
            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Số điện thoại">
            <label for="phoneNumber">Số điện thoại</label>
          </div>
        </div>

        <div class="col-12">
          <div class="form-floating">
            <textarea class="form-control" placeholder="Địa chỉ" id="address" name="address"
              style="height: 100px"></textarea>
            <label for="address">Địa chỉ</label>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <textarea class="form-control" placeholder="Ghi chú" id="note" name="note" style="height: 100px"></textarea>
            <label for="note">Ghi chú</label>
          </div>
        </div>
        <input type="hidden" name="total" id="inputTotal" value="0">
        <div class="col-12">
          <button class="btn btn-primary w-100 py-3" type="submit" id="submitBookShip">Đặt ngay</button>
        </div>
      </div>

    </form>
  </div>
</div>

<script>

  document.getElementById("linkHome").classList.remove("active");

  document.getElementById("linkService").href = "/#service";
  document.getElementById("linkAbout").href = "/#about";
  document.getElementById("linkMenu").href = "/#menu";
  document.getElementById("linkBookTable").href = "/#bookTable";
  
  const change = new Intl.NumberFormat('vi-VN', {
    style: 'currency',
    currency: 'VND',
  })

  function disableButton() {
    var total = parseInt(document.getElementById('inputTotal').value);
    if (total === 0) {
      document.getElementById('submitBookShip').disabled = true;
    }
    else {
      document.getElementById('submitBookShip').disabled = false;
    }
  }

  function totalShow() {
    var checkboxInput = document.getElementsByClassName("checkboxInput");
    var total = 0;
    for (x = 0; x < checkboxInput.length; x++) {
      if (checkboxInput[x].checked === true) {
        var slug = 'dg' + checkboxInput[x].value;
        var dg = document.getElementById(slug).innerText
        dg = dg.substr(0, dg.length - 2)
        for (var i = 1; i <= 8; i++) {
          dg = dg.replace('.', '');
        }
        dg = parseInt(dg)
        total = total + dg;
      }
    }
    document.getElementById('total').innerHTML = change.format(total);
    document.getElementById('inputTotal').value = total;
    disableButton();
  }

  function checkInput(slug, price) {
    var check = document.getElementById(slug).checked;
    if (check === true) {
      var quantity = parseInt(document.getElementById('quantity' + slug).value);
      document.getElementById('dg' + slug).innerHTML = change.format(quantity * price);
      totalShow();
    }
    else {
      document.getElementById('dg' + slug).innerHTML = change.format(0);
      totalShow();
    }

  }

  function selectQuanity(slug, value, price) {
    document.getElementById(slug).checked = "true";
    document.getElementById('dg' + slug).innerHTML = change.format(value * price);
    totalShow();
  }

  disableButton();

</script>