<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h3 class="section-title ff-secondary text-center text-primary fw-normal">Bàn ăn</h3>
        </div>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill"
                        href="#tab-1">
                        <i class="fa fa-object-group fa-2x text-primary"></i>
                        <div class="ps-3">
                            <small class="text-body">Danh sách</small>
                            <h6 class="mt-n1 mb-0">Bàn ăn</h6>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill"
                        href="#tab-addStaff">
                        <i class="fas fa-plus fa-2x text-primary"></i>
                        <div class="ps-3">
                            <small class="text-body">Thêm</small>
                            <h6 class="mt-n1 mb-0">Bàn ăn</h6>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">

                    <div class="row g-4">
                        {{#if table}}
                        {{#each table}}
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                               
                                <div class="w-100 d-flex flex-column text-start">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>
                                            {{this.name}}
                                            <a href="/admin/editDinnerTable/{{this.slug}}"><i
                                                    class="fas fa-pen-square"></i></a>
                                            <a href="#" onclick="btnDelete('{{this.slug}}')"><i
                                                    class="fas fa-trash-alt"></i></a>
                                        </span>

                                        <span class="text-primary">{{this.quantity}}&nbsp;người</span>
                                    </h5>
                                    <small class="fst-italic">{{this.description}}</small>

                                </div>
                            </div>
                        </div>
                        {{/each}}
                        {{/if}}
                    </div>
                </div>
                <div id="tab-addStaff" class="tab-pane fade show p-0">
                    <div class="col bg-dark d-flex align-items-center" id="cach">
                        <div class="p-5 wow fadeInUp w-100" data-wow-delay="0.2s">
                            <h3 class="section-title ff-secondary text-start text-primary fw-normal">Thêm bàn ăn</h3>
                            <form action="/admin/submitAddDinnerTable" method="post" id="formAddDinnerTable">
                                <div class="row g-4">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="name" name="name"
                                                placeholder="Họ và tên">
                                            <label for="name">Tên bàn ăn</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <select class="form-select" id="quantity" name="quantity">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                            <label for="quantity">Số lượng người</label>
                                        </div>
                                    </div>
                            
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <textarea class="form-control" placeholder="Mô tả chi tiết" id="description"
                                                name="description" style="height: 100px"></textarea>
                                            <label for="description">Mô tả chi tiết</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100 py-3" type="submit">Thêm</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    document.getElementById("linkHome").classList.remove("active");
    document.getElementById("linkTable").classList.add("active");
    function btnDelete(slug) {
        Swal.fire({
            title: 'Bạn có chắc muốn xóa bàn ăn này?',
            text: "Bạn sẽ không thể khôi phục nếu tiếp tục!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Tiếp tục',
            cancelButtonText: 'Quay lại'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.replace("/admin/deleteDinnerTable/" + slug);
            }
        })
    }
</script>