<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h3 class="section-title ff-secondary text-center text-primary fw-normal">Hóa đơn</h3>
        </div>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill"
                        href="#tab-1">
                        <i class="fas fa-money-check-alt fa-2x text-primary"></i>
                        <div class="ps-3">
                            <small class="text-body">Xác nhận</small>
                            <h6 class="mt-n1 mb-0">Thanh toán</h6>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill"
                        href="#tab-ship">
                        <i class="fas fa-money-check-alt fa-2x text-primary"></i>
                        <div class="ps-3">
                            <small class="text-body">Xác nhận</small>
                            <h6 class="mt-n1 mb-0">Thanh toán ship</h6>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 pb-3 me-0" data-bs-toggle="pill" href="#tab-2">
                        <i class="fas fa-money-bill fa-2x text-primary"></i>
                        <div class="ps-3">
                            <small class="text-body">Hóa đơn</small>
                            <h6 class="mt-n1 mb-0">Hiện tại</h6>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-3">
                        <i class="fas fa-history fa-2x text-primary"></i>
                        <div class="ps-3">
                            <small class="text-body">Lịch sử</small>
                            <h6 class="mt-n1 mb-0">Hóa đơn</h6>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill"
                        href="#tab-shipHistory">
                        <i class="fas fa-history fa-2x text-primary"></i>
                        <div class="ps-3">
                            <small class="text-body">Lịch sử</small>
                            <h6 class="mt-n1 mb-0">Hóa đơn ship</h6>
                        </div>
                    </a>
                </li>

            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">

                    <div class="row g-4">
                        {{#if waitConfirm}}
                        {{#each waitConfirm}}
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center p-2" style="background-color: lightblue;">
                                <div class="w-100 d-flex flex-column text-start">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>
                                            {{this.dinnerTableName}} - {{this.orderId}}
                                        </span>
                                        <span class="number text-primary">{{this.total}}</span>
                                    </h5>
                                    <div class="d-flex justify-content-between">
                                        <div class="">
                                            {{#each this.order}}
                                            <div class="">
                                                <small class="fst-italic">{{this.name}} - SL: {{this.quantity}} - ĐG:
                                                    <span class="number">{{multiplication this.price
                                                        this.quantity}}</span></small>
                                            </div>
                                            {{/each}}
                                        </div>
                                        <div class="">
                                            {{#each this.staff}}
                                            <div class="">
                                                <small class="fst-italic" style="display: block;">Nhân viên xử
                                                    lý:</small>
                                                <small class="fst-italic">{{this.name}}</small>
                                            </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="/admin/paymentConfirm/{{this.orderId}}"><button
                                    class="btn btn-primary w-100 py-3">Xác nhận</button></a>
                        </div>
                        {{/each}}
                        {{else}}
                        <h3 class="mt-3 mb-3" style="text-align: center; color:rgb(194, 174, 230);">Không có hóa đơn nào
                            chờ xác nhận thanh toán!</h3>
                        {{/if}}
                    </div>
                </div>
                <div id="tab-ship" class="tab-pane fade show p-0">

                    <div class="row g-4">
                        {{#if waitPaymentShip}}
                        {{#each waitPaymentShip}}
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center p-2" style="background-color: lightblue;">
                                <div class="w-100 d-flex flex-column text-start">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>
                                            {{this.name}} - {{this.orderId}}
                                        </span>
                                        <span class="number text-primary">{{this.total}}</span>
                                    </h5>
                                    <div class="d-flex justify-content-between">
                                        <div class="">
                                            {{#each this.order}}
                                            <div class="">
                                                <small class="fst-italic">{{this.name}} - SL: {{this.quantity}} - ĐG:
                                                    <span class="number">{{multiplication this.price
                                                        this.quantity}}</span></small>
                                            </div>
                                            {{/each}}
                                        </div>
                                        <div class="">
                                            {{#each this.staff}}
                                            <div class="">
                                                <small class="fst-italic" style="display: block;">Nhân viên xử
                                                    lý:</small>
                                                <small class="fst-italic">{{this.name}}</small>
                                            </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="/admin/paymentConfirmShip/{{this.orderId}}"><button
                                    class="btn btn-primary w-100 py-3">Xác nhận</button></a>
                        </div>
                        {{/each}}
                        {{else}}
                        <h3 class="mt-3 mb-3" style="text-align: center; color:rgb(194, 174, 230);">Không có hóa đơn ship nào
                            chờ xác nhận thanh toán!</h3>
                        {{/if}}
                    </div>
                </div>
                <div id="tab-2" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        {{#if waitPayment}}
                        {{#each waitPayment}}
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center p-2" style="background-color: lightblue;">
                                <div class="w-100 d-flex flex-column text-start">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>
                                            {{this.dinnerTableName}} - {{this.orderId}}
                                        </span>
                                        <span class="number text-primary">{{this.total}}</span>
                                    </h5>
                                    <div class="d-flex justify-content-between">
                                        <div class="">
                                            {{#each this.order}}
                                            <div class="">
                                                <small class="fst-italic">{{this.name}} - SL: {{this.quantity}} - ĐG:
                                                    <span class="number">{{multiplication this.price
                                                        this.quantity}}</span></small>
                                            </div>
                                            {{/each}}
                                        </div>
                                        <div class="">
                                            {{#each this.staff}}
                                            <div class="">
                                                <small class="fst-italic" style="display: block;">Nhân viên xử
                                                    lý:</small>
                                                <small class="fst-italic">{{this.name}}</small>
                                            </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="background-color: lightblue;">
                                Trạng thái: <span style="color: coral; font-size: 20px;"
                                    class="stateHistory">{{this.state}}</span>
                            </div>
                            <button class="btn btn-primary w-100 py-3"
                                onclick="btnDelete('{{this.orderId}}')">Xóa</button>

                        </div>
                        {{/each}}
                        {{else}}
                        <h3 class="mt-3 mb-3" style="text-align: center; color:rgb(194, 174, 230);">Không có hóa đơn nào
                            chờ xử lý!</h3>
                        {{/if}}
                    </div>
                </div>
                <div id="tab-3" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        {{#if histories}}
                        {{#each histories}}
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center p-2" style="background-color: lightblue;">
                                <div class="w-100 d-flex flex-column text-start">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>
                                            {{this.dinnerTableName}} - {{this.orderId}}
                                        </span>
                                        <span class="number text-primary">{{this.total}}</span>
                                    </h5>
                                    <div class="d-flex justify-content-between">
                                        <div class="">
                                            {{#each this.order}}
                                            <div class="">
                                                <small class="fst-italic">{{this.name}} - SL: {{this.quantity}} - ĐG:
                                                    <span class="number">{{multiplication this.price
                                                        this.quantity}}</span></small>
                                            </div>
                                            {{/each}}
                                        </div>
                                        <div class="">
                                            {{#each this.staff}}
                                            <div class="">
                                                <small class="fst-italic" style="display: block;">Nhân viên xử
                                                    lý:</small>
                                                <small class="fst-italic">{{this.name}}</small>
                                            </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="" style="background-color: lightblue;">
                                Trạng thái: <span style="color: coral; font-size: 20px;"
                                    class="stateHistory">{{this.state}}</span>
                            </div>
                        </div>
                        {{/each}}
                        {{else}}
                        <h3 class="mt-3 mb-3" style="text-align: center; color:rgb(194, 174, 230);">Không có hóa đơn
                            nào!</h3>
                        {{/if}}
                    </div>
                </div>

                <div id="tab-shipHistory" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        {{#if historiesShip}}
                        {{#each historiesShip}}
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center p-2" style="background-color: lightblue;">
                                <div class="w-100 d-flex flex-column text-start">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>
                                            {{this.name}} - {{this.orderId}}
                                        </span>
                                        <span class="number text-primary">{{this.total}}</span>
                                    </h5>
                                    <div class="d-flex justify-content-between">
                                        <div class="">
                                            {{#each this.order}}
                                            <div class="">
                                                <small class="fst-italic">{{this.name}} - SL: {{this.quantity}} - ĐG:
                                                    <span class="number">{{multiplication this.price
                                                        this.quantity}}</span></small>
                                            </div>
                                            {{/each}}
                                        </div>
                                        <div class="">
                                            {{#each this.staff}}
                                            <div class="">
                                                <small class="fst-italic" style="display: block;">Nhân viên xử
                                                    lý:</small>
                                                <small class="fst-italic">{{this.name}}</small>
                                            </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="" style="background-color: lightblue;">
                                Trạng thái: <span style="color: coral; font-size: 20px;"
                                    class="stateHistory">{{this.state}}</span>
                            </div>
                        </div>
                        {{/each}}
                        {{else}}
                        <h3 class="mt-3 mb-3" style="text-align: center; color:rgb(194, 174, 230);">Không có hóa đơn ship
                            nào!</h3>
                        {{/if}}
                    </div>
                </div>
                

            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("linkHome").classList.remove("active");
    document.getElementById("linkEncash").classList.add("active");

    var stateHistory = document.getElementsByClassName('stateHistory')
    for (x = 0; x < stateHistory.length; x++) {
        if (stateHistory[x].innerText === "Chờ thanh toán" || stateHistory[x].innerText === "Đã thanh toán" || stateHistory[x].innerText === "Đã hoàn thành")
            stateHistory[x].style.color = "green";
    }

    function btnDelete(slug) {
        Swal.fire({
            title: 'Bạn có chắc muốn xóa hóa đơn này?',
            text: "Bạn cần cân nhắc trước khi tiếp tục!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Tiếp tục',
            cancelButtonText: 'Quay lại'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.replace("/admin/deleteOrder/" + slug);
            }
        })
    }

</script>