<!-- Service Start -->
<span id="service" class="idLink"></span>
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Các dịch vụ của chúng tôi</h5>
            <h1 class="mb-5">Khám phá các dịch vụ của chúng tôi</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                        <i class="fa fa-3x fa-hat-chef text-primary mb-4"></i>
                        <h5>Đầu bếp</h5>
                        <p>Đầu bếp nhiều năm kinh nghiệm với các món ăn truyền thống của Việt Nam</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-utensils text-primary mb-4"></i>
                        <h5>Chất lượng món ăn</h5>
                        <p>Với nguồn nguyên liệu được kiểm định chất lượng và chế biến sạch sẽ</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fas fa-object-group text-primary mb-4"></i>
                        <h5>Không gian cổ điển</h5>
                        <p>Với không gian được trang trí theo phong cách cổ điển của Việt Nam</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-headset text-primary mb-4"></i>
                        <h5>Lắng nghe phản hồi</h5>
                        <p>Tiêp thu ý kiến của khách hàng để cải thiện chất lượng dịch vụ</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fas fa-object-group text-primary mb-4"></i>
                        <h5>Đặt bàn online</h5>
                        <p>Đặt trước bàn ăn nhanh chóng, tiện lợi</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fas fa-shipping-fast text-primary mb-4"></i>
                        <h5>Đặt thức ăn online</h5>
                        <p>Đặt giao tận nhà tiết kiệm vô cùng tiện lợi và tiết kiệm thời gian</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fas fa-percent text-primary mb-4"></i>
                        <h5>Khuyến mãi</h5>
                        <p>Các chương trình khuyến mãi vào các dịp lễ Tết</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-headset text-primary mb-4"></i>
                        <h5>Tư vấn khách hàng</h5>
                        <p>Nhiệt tình tư vấn nếu khách hàng có thắc mắc</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Service End -->

<!-- About Start -->
<span id="about" class="idLink"></span>

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s"
                            src="https://res.cloudinary.com/pqshop/image/upload/v1645344072/pqfood/kg1_fnciho.jpg">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s"
                            src="https://res.cloudinary.com/pqshop/image/upload/v1645344072/pqfood/kg2_tfs8ue.jpg"
                            style="margin-top: 25%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s"
                            src="https://res.cloudinary.com/pqshop/image/upload/v1645344072/pqfood/kg3_aybtgr.jpg">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s"
                            src="https://res.cloudinary.com/pqshop/image/upload/v1645344072/pqfood/kg4_jsf3ae.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h5 class="section-title ff-secondary text-start text-primary fw-normal">Thông tin về chúng tôi</h5>
                <h1 class="mb-4">Chào mừng quý khách đến với <i class="fa fa-utensils text-primary me-2"></i>PQ Food
                </h1>
                <p class="mb-4">Chúng tôi luôn đặt chất lượng món ăn lên hàng đầu. Vì vậy nguồn nguyên liệu được kiểm
                    định trước khi vào chế biến.</p>
                <p class="mb-4">Đầu bếp nhiều năm kinh nghiệm cùng với không gian đặc trưng của Việt Nam sẽ giúp bạn có
                    những trải nghiệm thú vị và vô cùng hài lòng.</p>
                <div class="row g-4 mb-4">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                            <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">12</h1>
                            <div class="ps-4">
                                <p class="mb-0">Số năm</p>
                                <h6 class="text-uppercase mb-0">Kinh ngiệm</h6>
                            </div>
                        </div>
                    </div>

                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" href="#">Tìm hiểu thêm</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Menu Start -->
<span id="menu" class="idLink"></span>

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Thực đơn</h5>
            <h1 class="mb-5">Các món ăn phổ biến</h1>
        </div>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill"
                        href="#tab-1">
                        <i class="fa fa-hamburger fa-2x text-primary"></i>
                        <div class="ps-3">
                            <small class="text-body">Thức ăn</small>
                            <h6 class="mt-n1 mb-0">Phổ biến</h6>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
                        <i class="fa fa-coffee fa-2x text-primary"></i>
                        <div class="ps-3">
                            <small class="text-body">Danh sách</small>
                            <h6 class="mt-n1 mb-0">Nước giải khát</h6>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-3">
                        <i class="fa fa-utensils fa-2x text-primary"></i>
                        <div class="ps-3">
                            <small class="text-body">Toàn bộ</small>
                            <h6 class="mt-n1 mb-0">Thực đơn</h6>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">

                    <div class="row g-4">
                        {{#if menuFoodLimit}}
                        {{#each menuFoodLimit}}
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="{{this.image}}" alt=""
                                    style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>{{this.name}}</span>
                                        <span class="number text-primary">{{this.price}}</span>
                                    </h5>
                                    <small class="fst-italic">{{this.description}}</small>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        {{/if}}
                    </div>
                </div>
                <div id="tab-2" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        {{#if menuDrinks}}
                        {{#each menuDrinks}}
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="{{this.image}}" alt=""
                                    style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>{{this.name}}</span>
                                        <span class="number text-primary">{{this.price}}</span>
                                    </h5>
                                    <small class="fst-italic">{{this.description}}</small>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        {{/if}}
                    </div>
                </div>
                <div id="tab-3" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        {{#if menuFoods}}
                        {{#each menuFoods}}
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="{{this.image}}" alt=""
                                    style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>{{this.name}}</span>
                                        <span class="number text-primary">{{this.price}}</span>
                                    </h5>
                                    <small class="fst-italic">{{this.description}}</small>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Menu End -->


<!-- Reservation Start -->
<span id="bookTable" class="idLink"></span>


<div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
    <div class="row g-0">
        <div class="col-md-12 bg-dark d-flex align-items-center">
            <div class="p-5 wow fadeInUp" data-wow-delay="0.2s" style="margin: 0 auto;">
                <h5 class="section-title ff-secondary text-start text-primary fw-normal">Đặt chỗ</h5>
                <h1 class="text-white mb-4">Đặt bàn online</h1>
                <form action="/booktable" method="post" id="formBookTable">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Họ và tên">
                                <label for="name">Họ và tên</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
                                    placeholder="Số điện thoại">
                                <label for="phoneNumber">Số điện thoại</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating date" id="timeBook" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" id="time" name="time"
                                    placeholder="Thời gian" data-target="#timeBook" data-toggle="datetimepicker" />
                                <label for="time">Thời gian</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <select class="form-select" id="quantity" name="quantity">
                                    <option value="1">1 Người</option>
                                    <option value="2">2 Người</option>
                                    <option value="3">3 Người</option>
                                    <option value="4">4 Người</option>
                                </select>
                                <label for="quantity">Số người</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Ghi chú" id="note" name="note"
                                    style="height: 100px"></textarea>
                                <label for="note">Ghi chú</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Đặt ngay</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>


<!-- Reservation Start -->